<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ht="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Edit</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </head>

    <body>
    <h1 align="center"><h:outputText value="Cập nhật sản phẩm "/></h1>
    <h:body styleClass="cyan lighten-5">
        <div class="valign-wrapper" id="login">
            <div class="container" >
                <div class="center-alian" >
                    <div class="row" style="position: relative;width: 1000px;height: 1000px;" >
                        <div class="col s6 offset-s3" style="position: absolute;top: 2%;left: -17%;width: 850px;box-shadow: 0px 0px 4px silver;">
                            <div class="card>" style="width: 95%;margin: 26px 10px 10px 10px;">
                                <div class="card-content">
                                    <div class="left-align" >
                                        <h:form id="edit-form" styleClass="form-horizontal" >
                                            <div class="row">
                                                <div class="table-view" >
                                                <div class="col s12 input-field">
                                                    <div class="form-group">
                                                    <h:outputLabel for="ms" value="Mã sản phẩm"/>
                                                        <h:inputText id="ms" required="true" styleClass="form-control" value="#{editProduct.code}">
                                                            <f:validateLength minimum="2"/>
                                                        </h:inputText>
                                                        <p:message for="ms" display="icon"/>
                                                    </div>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <div class="form-group">
                                                    <h:outputLabel for="ht" value="Tên sản phẩm"/>
                                                    <h:inputText id="ht" styleClass="form-control" value="#{editProduct.name}"/>
                                                    </div>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <div class="form-group">
                                                    <h:outputLabel for="gv" value="Giá sản phẩm"/>
                                                    <h:inputText id="gv" styleClass="form-control"  value="#{editProduct.price}"/>
                                                    </div>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <div class="form-group">
                                                    <h:outputLabel for="ttsp" value="Trạng thái"/>
                                                    <h:inputText id="ttsp"  styleClass="form-control" value="#{editProduct.is_delete}"/>
                                                    </div>
                                                </div>
                                                <div class="col s12 input-field" style="padding-left: 41%">
                                                    <h:commandButton styleClass="btn btn-large" value="Cập nhật" action="#{products.UpdateProducts(editProduct)}"></h:commandButton>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="backspace-icon" >
                                                <h:commandLink action="welcome?faces-redirect=true" type="commandButton" style="padding-left: 93%" value="Quay lại"/>
                                            </div>
                                        </h:form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
    </body>
    </html>
</f:view>
<script type="text/javascript">
    $(document).on("ready",function () {
        $('#login').css({'height':window.innerHeight + 'px'});
    });
</script>
</html>
