<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:u="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://java.sun.com/jsf/composite" xmlns:H="http://java.sun.com/jsf/html">
<f:loadBundle basename="com.jwt.jsf.properties.messages" var="msg" />

<h:head >
    <title >Danh Sách Sản Phẩm  </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}
        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</h:head>
<h:body>
    <h:form>
        <div style="background-color: antiquewhite; text-align: center;">
            <h4> DANH SÁCH SẢN PHẨM
            </h4>
            <div class="logout" >
                <h:commandLink action="index?faces-redirect=true" style="padding-left: 96%" value="Logout"/>
            </div>
        </div>
        <p:dataTable  style="background-color: antiquewhite"  var="pr"  value="#{products.allProduct}" paginator="true" rows="10"
                      paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                     {PreviousPageLink} {PageLinks} {NextPageLink}
                     {LastPageLink} "
                      rowsPerPageTemplate="5,10,15"
        styleClass="table table-striped table-hover table-bordered">
            <p:column id="ids" headerClass="headerText">
                <f:facet name="header">STT</f:facet>
                <h:outputText id="id" value="#{pr.id}"/>
            </p:column>
            <p:column id="codes" headerClass="headerText">
                <f:facet name="header">Mã Sản Phẩm</f:facet>
                <h:outputText id="code" value="#{pr.code}"/>
            </p:column>
            <p:column id="names" headerClass="headerText">
                <f:facet name="header">Tên Sản Phẩm</f:facet>
                <h:outputText id="name" value="#{pr.name}"/>
            </p:column>
            <p:column id="prices" headerClass="headerText">
                <f:facet name="header">Giá</f:facet>
                <h:outputText id="price" value="#{pr.price}"/>
            </p:column>
            <p:column >
                <f:facet name="header">Cập Nhật</f:facet>
                <h:commandButton action = "#{products.UpdateProduct(pr.id)}" value="Update"  class="btn btn-primary">
                </h:commandButton>
            </p:column>
            <p:column>
                <f:facet name="header">Xóa</f:facet>
                <h:commandButton action="#{products.DeleteProduct(pr.id)}"   value="Delete" class="btn btn-danger">
                </h:commandButton>
            </p:column>
        </p:dataTable>
        <div style="text-align: center;">
            <h:commandButton action = "insert.xhtml?faces-redirect=true"
                                 value="Thêm Sản Phẩm" class="btn btn-success"></h:commandButton>
        </div>

    </h:form>

</h:body>
<script type="text/javascript">
    function pageChangedOnDetails(listingsTableDesktop) {
        console.log("paginaDestinazione1="+listingsTableDesktop.paginator.getCurrentPage());
        console.log("paginaDestinazione2="+listingsTableDesktop.paginator.currentReport[0].innerText);
    }
</script>
</html>